{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}
{% block form_title %}{{ titre }}{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="form-group">
        <div class='{{ class }}'>{{ erreur }}</div>
        {{ form_label(form.Libelle, "Nom categorie")}}
        {{ form_widget(form.Libelle, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Sauvegarder</button>
    </div>
    <div class="form-group">
        <a class="alert-link" href="{{ path('list_cat') }}">Retour à la liste des catégories</a>
        {{ form_end(form) }}
    </div>
{% endblock %}